In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv(r"E:\BINAR\Deep Learning\Exercise\re_dataset_three_labels_clean.csv")
df.head()

,Label,Tweet,Tweet_clean
0,2,- Dia sendiri yang ngiklanin promo cashback di...,sendiri mengiklankan promo cashback aplikasiny...
1,3,- disaat semua cowok berusaha melacak perhatia...,di saat semua cowok berusaha melacak perhatian...
2,2,- kampret kan kalo typo-nya di email kantor ke...,kampret kan kalau salah ketik email kantor mer...
3,2,"- Mending makan disini lebih murah, buang-buan...",mending makan di sini lebih murah buang buang ...
4,2,/biarin oppa masukim vibrator ke memek/ oppa k...,biarkan oppa masukan vibrator memek oppa kok m...

In [5]:
df.shape

(1941, 3)

In [4]:
text = df[['Tweet_clean']]
label = df['Label']

In [7]:
X_train, X_ass, y_train, y_ass = train_test_split(text, label, train_size=0.8, random_state=42)
X_valid, X_test, y_valid, y_test = train_test_split(X_ass, y_ass, test_size=0.5, random_state=42)

In [10]:
from collections import Counter

In [12]:
Counter(y_train)

Counter({2: 841, 3: 471, 1: 240})

# Vectorizer

In [9]:
from tensorflow.keras.layers import TextVectorization

In [ ]:
max_token = 10000

vectorizer_layer = TextVectorization(max_tokens=max_token,
                                     split= 'whitesapce')
ve